

/* popup */

.voxora-popup{
    position: fixed;
    right: 18px;
    bottom: 98px;

    width: 360px;
    min-width: 360px;
    max-width: 360px;

    height: 580px;
    min-height: 580px;
    max-height: 580px;

    border-radius: 38px;
    overflow: hidden;

    z-index: 999999;
    display: none;

    box-shadow: 0 20px 80px rgba(0,0,0,.32);
}